body{
    font-family: Roboto;
    display: flex;
    
}
table, td, th{
    border-collapse: collapse;
    padding: 5px 10px;
    text-align: center;
}
table{
    border: 3px solid red;

}
th{
    border: 2px solid blue;
}
td{
    border: 1px solid green;
}
td, th{
    border-left: none;
    border-right: none;
}
thead{
    background-color: hotpink;
}
tbody tr:nth-child(odd){
    background-color: rgb(240, 232, 232);
}
tbody tr:nth-child(even){
    background-color: rgb(219, 204, 204);
}
td button{
    width: 5em;
}



.form{
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
label{
    width: 50px;
    text-align: right;
    margin-right: 5px;
}
input[type="text"],input[type="number"]{
    width: 200px;
}
.label-input{
    display: flex;
    
}
.radioRead{
}
